<a href="https://colab.research.google.com/github/qmcnn/Data-Mining/blob/main/3_Getting_start_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python programming

These notes are based on **J.R. Johansson's** excellent Python lectures which can be found
[here](https://github.com/jrjohansson/scientific-python-lectures).   

The other notebooks in this lecture series are indexed at [http://jrjohansson.github.io](http://jrjohansson.github.io).

Note, for the purposes of this workshop, you don't necessarily need to know eveything I discuss here.  This is where we really get down to the details!

Since we are only together for a few days I don't want to turn this into a Python programming class (though I will if the surveys ask me to :-)

**So, this is not intended to be a full Python tutorial!  However, I want to lead you down the path of Python enough so that it is easier for you to learn more later.**

**And, help you work on the final project for the workshop.**

## Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

### References

 * The Python Language Reference: http://docs.python.org/2/reference/index.html
 * The Python Standard Library: http://docs.python.org/2/library/

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [1]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [2]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [3]:
from math import *

x = cos(2 * pi)

print(x)

1.0

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

As a third alternative, we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [4]:
from math import cos, pi

x = cos(2 * pi)

print(x)

1.0

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

Print out

$$
cos(3 \pi) + sin(5 \pi)
$$

In [6]:
x = cos(3 * pi) + sin(5 * pi)
x

-0.9999999999999993

### Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [7]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [8]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [9]:
log(10)

2.302585092994046

In [10]:
log(10, 2)

3.3219280948873626

We can also use the `help` function directly on modules: Try

    help(math)

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil`, `re`, `subprocess`, `multiprocessing`, `threading`.

A complete lists of standard modules for Python 2 and Python 3 are available at http://docs.python.org/2/library/ and http://docs.python.org/3/library/, respectively.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

### Assignment



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [11]:
# variable assignments
x = 1.0
my_variable = 12.2

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [12]:
type(x)

float

If we assign a new value to a variable, its type can change.

In [13]:
x = 1

In [14]:
type(x)

int

If we try to use a variable that has not yet been defined we get an `NameError`:

In [ ]:
print(y)

NameError: name 'y' is not defined

### Fundamental types

In [16]:
# integers
x = 1
type(x)

int

In [17]:
# float
x = 1.0
type(x)

float

In [18]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [19]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

complex

In [20]:
print(x)

(1-1j)

In [21]:
print(x.real, x.imag)

1.0 -1.0

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [22]:
def func0():
    print("test")

In [23]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [24]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    print(s + " has " + str(len(s)) + " characters")

In [25]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [26]:
func1("test")

test has 4 characters

Functions that returns a value use the `return` keyword:

In [27]:
def square(x): # define function
    """
    Return the square of x.
    """
    return x ** 2

In [28]:
square(4)

16

We can return multiple values from a function using tuples (see above):

In [29]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [30]:
5**2

25

In [ ]:
powers(3)

(9, 27, 81)

In [ ]:
x2, x3, x4 = powers(3)

print(x3)

27

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

Make a function that takes two arguements $x$ and $y$ and returns

$$
cos(x \; \pi) + sin(y \; \pi)
$$

Suppose your function was called $f$ then call

f(2,3)

What do you observe?

In [15]:
import math

def f(x, y):
    r = cos(x * pi) + sin(y * pi)
    return r
print(f(2, 3))

1.0000000000000004

Now, if you have done programming in many languages you may be wondering about something.   How about types for arguments?

I.e., why don't we write

In [32]:
def f(int x):
    return x+2

SyntaxError: ignored

The idea is that Python uses "Duck typing".

I.e., if it looks like a duck, it walks like a duck, and it sounds like a duck, then it is a duck.

This means you have to be a little careful

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

Make a function, that takes two arguements $x$ and $y$ and returns

$$
x+y
$$

Suppose your function was called $f$ then call

f(2,3)

f("2","3")

What do you observe?

In [33]:
def f(x, y):
    b = x + y
    return b
print(f(2, 3))
print(f("2", "3"))

5
23

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [34]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [35]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [36]:
# Integer division of float numbers
3.0 // 2.0

1.0

In [37]:
# Note! The power operators in python isn't ^, but **
2 ** 2

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [38]:
True and False

False

In [39]:
not False

True

In [40]:
True or False

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [41]:
2 > 1, 2 < 1

(True, False)

In [42]:
2 > 2, 2 < 2

(False, False)

In [43]:
2 >= 2, 2 <= 2

(True, True)

In [44]:
# equality
[1,2] == [1,2]

True

In [45]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2

True

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

What is the truth value of

$$
(2<3) \;\text{and}\; ((5>6) or ( 7 <=7))
$$

In [46]:
2<3 and 5>6 or 7<=7

True

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [47]:
s = "Hello world"
type(s)

str

In [48]:
# length of the string: the number of characters
len(s)

11

In [49]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

We can index a character in a string using `[]`:

In [50]:
s[0]

'H'

**Heads up MATLAB users:** Indexing start at 0!

##  A Brief Digression

As some of you may have observed, some of this might be familiar.  Python borrows...steals... ummm, maybe leverages ideas from many languages, with the numeric part of Python looking a lot like Matlab.

In fact, there is even a cheat sheet:

http://mathesaurus.sourceforge.net/matlab-numpy.html

This relationship becomes even more apparent when we do plotting.

## Back to the show!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [51]:
s[0:5]

'Hello'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [52]:
s[:5]

'Hello'

In [53]:
s[6:]

'world'

Python has a very rich set of functions for text processing. See for example http://docs.python.org/3/library/string.html for more information.

#### String formatting examples

In [54]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [55]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [56]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

In [57]:
print("value = %f" % 1.0)       # we can use C-style string formatting

value = 1.000000

In [58]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

## Data Structures

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [59]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [60]:
print(l)

print(l[1:3])

print(l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

Elements in a list do not all have to be of the same type:

In [61]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [62]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

### Advanced topic.  You can do really strange things!

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

What the heck does the following code do?

In [63]:
a=1234
myList = [print,a]
myList[0](myList[1])

1234

In [64]:
a=1234
myList = [print,a]
myList[0](myList[1])
print(type(a))
print(a)
print(l[1:3])
print(l[::2])

1234
<class 'int'>
1234
['a', 1.0]
[1, 1.0]

###  Back to the show

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [65]:
start = 10
stop = 30
step = 2

range(start, stop, step)

range(10, 30, 2)

In [66]:
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [67]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

See `help(list)` for more details, or read the online documentation

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [68]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level.

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [69]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [70]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

IndentationError: ignored

In [72]:
statement1 = False

if statement1:
    print("printed if statement1 is True")

    print("still inside the if block")

In [73]:
if statement1:
    print("printed if statement1 is True")

print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [74]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [75]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [76]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [77]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

<font face="verdana" style="font-size:30px" color="red">Your turn</font>

Computer 10! using a for loop.

**NOTE, this is by far the hardest assignment so far!**

In [78]:
def factorial(n):
    x = 1
    for i in range(1, n + 1):
        x *= i
    return x

x = factorial(10)
print(x)

3628800

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.