<a href="https://colab.research.google.com/github/qmcnn/Data-Mining/blob/main/HW_Numpy_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 633020979-2 ชนกนันท์ มีสิงห์

ให้ทุกคนฝึกฝนด้วยตนเองก่อนคลาสในวันศุกร์
* อ่านไฟล์ใน Google Drive ของตนเองบน Google Colab
* อ่านไฟล์ในเครื่องตนเองด้วย Jupyter Notebook ในเครื่องของตน
* อ่านไฟล์ใน Google Drive ของตนเองผ่าน Jupyter Notebook ในเครื่องของตน ซึ่งสามารถสร้าง sharable link แล้วนำมาเป็น path ของไฟล์ที่ต้องการอ่านได้ (หรือปกติก็สามารถดาวน์โหลดไฟล์ลงเครื่องตนเองแล้วอ่านตามปกติ)

In [3]:
import pandas as pd

In [4]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os

In [6]:
data = pd.read_csv(os.path.join('/content/drive/MyDrive/Year4/Data Mining/confirmed-cases.csv'))
data

<ipython-input-6-66b956e54d60>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(os.path.join('/content/drive/MyDrive/Year4/Data Mining/confirmed-cases.csv'))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [7]:
data = pd.read_excel('https://docs.google.com/spreadsheets/d/e/2PACX-1vTQnurtnes1Rhh42-WrffcSyRLx7g9tMv3pl73Vjemxgh0A2qwb9VT693kOZkRGgAtCLxcNYsq1oMfb/pub?output=xlsx')

In [8]:
import numpy as np

In [9]:
x = np.arange(5)
x

array([0, 1, 2, 3, 4])

In [10]:
# numpy.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)[source]
y = np.linspace(start = 2, stop = 10, num = 5)
y

array([ 2.,  4.,  6.,  8., 10.])

Chebyshev distance เป็นการวัดความต่างระหว่างข้อมูลแบบ $L_\infty$ norm ซึ่งเป็นกรณีพิเศษของ Minkowski distance: $\left(\sum_{i=1}^{k} \lvert x_i - y_i \rvert^r\right)^{1/r}$ ที่ $r=\infty$ โดยสามารถคำนวณค่าได้ดังนี้
$$d(x,y) = \max_{i} \left( \lvert x_{i} - y_{i} \rvert \right)$$

สร้างฟังก์ชันสำหรับคำนวณ Chebyshev distance ระหว่างเวคเตอร์ 2 เวคเตอร์ ที่แต่ละเวคเตอร์มีขนาด k มิติ (numpy array of length k)

In [11]:
def vec(v1,v2):
    max = 0
    for i in range(len(v1)):
        max = np.max(np.abs(v1[i]-v2[i]))
    return (max)
print(vec(x,y))

6.0

Canberra distance เป็นการวัดความต่างระหว่างข้อมูลแบบ Manhattan distance ที่ถ่วงน้ำหนัก (weighted Manhattan distance) โดยคำนวณดังนี้
$$d(x,y) = \sum_{i=1}^{k} \frac{\lvert x_{i} - y_{i} \rvert}{\lvert x_{i} \rvert + \lvert y_{i} \rvert}$$

สร้างฟังก์ชันสำหรับคำนวณ Canberra distance ระหว่างเวคเตอร์ 2 เวคเตอร์ ที่แต่ละเวคเตอร์มีขนาด k มิติ

In [12]:
def vec(v1,v2):
    for i in range(len(v1)):
        sum = np.sum(np.abs(v1 - v2) / (np.abs(v1)+np.abs(v2)))
    return (sum)
print(vec(x,y))

2.983116883116883

สร้างฟังก์ชันสำหรับคำนวณค่าเฉลี่ยของค่าในเวคเตอร์หนึ่ง โดยไม่ใช้ฟังก์ชันสำเร็จรูป `mean()` ใช้เพียง numpy array และการบวกลบคูณหาร

In [13]:
def mean_n(m):
    for i in range(len(m)):
        mean = np.sum(m) / len(m)
    return (mean)
print(mean_n(x))

2.0

สร้างฟังก์ชันสำหรับคำนวณค่าเบี่ยงเบนมาตรฐานของค่าในเวคเตอร์หนึ่ง โดยไม่ใช้ฟังก์ชัน `std()` หรือ `stddev()` ใช้เพียง numpy array และการบวกลบคูณหาร

In [18]:
def std_d(s):
    for i in range(len(s)):
        std = np.sqrt(np.sum((s - (np.sum(s) / len(s)) )**2/ len(s)))
    return (std)
print(std_d(x))

1.4142135623730951