<a href="https://colab.research.google.com/github/qmcnn/Data-Mining/blob/main/Project_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
visit = pd.read_csv('/content/drive/MyDrive/Project/ckdresearch2023/Visit.csv')
visit.shape

<ipython-input-19-8dbd214efeec>:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('/content/drive/MyDrive/Project/ckdresearch2023/Visit.csv')

(1340588, 11)

In [22]:
visit.head()

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,หญิง,83,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,ชาย,64,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,ชาย,86,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,หญิง,82,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,ชาย,68,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

In [27]:
visit.isnull().sum()

PatientUID                  0
PatientvisitUID             0
Sex                         0
Age                         0
ENTY                        2
NATNL                    1715
StartDTTM                   0
EndDttm                   538
Location               162181
PricipalProblemCode    416963
PricipalProblemName    416963
dtype: int64